.popup__images{    
    width: 430px;
    height: 330px;
    position: relative;
}
    
@media screen and (min-width: 320px) and (max-width: 898px) {
    .popup__images {
        width: 282px;
        height: 322px;
        margin: 123px 19px auto;
    }
}
